* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background-color: rgba(88, 32, 32, 0.692);
  background-image: url(imitationgame.jpeg);
}

.main {
  width: 80vw;
  margin: auto;
  display: flex;
  justify-content: center;
}

.titulo {
  padding: 20px;
  width: 30vw;
  margin: auto;
  color: white;
  text-align: center;

}

.box {
  padding: 10px;
  margin: 0 10px 0 10px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  background-color: white;
  border-radius: 0.5em;
  width: 40vw;
  height: auto;
  text-align: center;
}

.btn {
  border: 0;
  color: white;
  font-weight: bold;
  background-color: green;
  padding: 10px;
  margin-top: 10px;
  border-radius: 25px;
}

.text-input {
  border-radius: 0.5em;
  border: 1px solid rgba(0, 0, 0, 0.2);
  display: block;
  padding: 0.5em;
  width: 100%;
  height: 50px;
}